*{
    margin: 0px;
    padding: 0px;
}



textarea{
    resize:none;
    border-radius: 5px;
    border-width: 2px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-left: 50px;
    background-color: #163343;
    color: rgb(244, 244, 244);

}

nav{
    display: flex;
    gap: 20px;
    margin-right: 2vh;
}
a{
    text-decoration: none;
}
nav a{
    color: inherit;
    font-size: 1.2rem;
}

h3{
    color:#9c9c9c;
    font-family: sans-serif;
}
.text-area{
    background-color: #163343;
    border-color: transparent;
    color: rgb(217, 219, 95);
}

.main-container{
    width: 100%;
    height: 90vh;
    background: linear-gradient(135deg, #1d2b53 0%, #406d96 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.text-area{
    width: 100%;
    max-width: 100%;
    height: 30vh;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

.text-boxes{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 20px;
}


.inputContainer, .outputContainer{
    flex: 1;
    width: 30%;
}

.button-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.clearbtn{
    margin: 2vh;
    padding: 1vh;
    border: 2px solid black;
    width: 5vw;
    background-color: #163343;
    color: rgb(244, 244, 244);
}

.copybtn{
    margin: 2vh;
    padding: 1vh;
    border: 2px solid black;
    width: 5vw;
    background-color: #163343;
    color: rgb(244, 244, 244);
}
.translate{
    margin: 2vh;
    padding: 1vh;
    border: 2px solid black;
    width: 10vw;
    background-color: #163343;
    color: rgb(244, 244, 244);
}


footer{
    padding: 5px;
    height: 20vh;
    background-color: #163343;
    color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer1 a{
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}